$accent-color-blue: rgb(51, 153, 255);
$accent-color-red: rgb(250, 52, 37);
$accent-color-yellow: rgb(255, 193, 47);
$accent-color-green: rgb(104, 232, 188);
$box-shadow: 0.125rem 0.25rem 1rem rgba(0, 0, 0, 0.125);
// FIXME: Design needs to be checked
$accent-color-blue-transp: rgba(51, 153, 255, 0.3);
