///////////////////////////////// Outliner /////////////////////////////////

// CONTAINER

#outliner-content {
  // Show y scrollbar when there's loads of tags or location list items
  overflow-x: hidden;
  position: absolute;
  bottom: 2rem;
  left: 0rem;
  right: 0rem;

  top: var(--toolbar-height);
}

// On Macs, the traffic lights take up the space of the toolbar. For other platform, extend outliner to the top
[data-os='darwin'] {
  #outliner-content {
    top: var(--content-top);
  }
}

.section {
  margin-bottom: 0.5rem;

  // Show an outline to indicate the section needs attention
  &.attention {
    > div {
      padding: 1rem;
      i {
        text-decoration: none;
        color: var(--text-color);
      }
    }
    // Show all buttons, even without hover
    header div {
      opacity: 1;
    }
  }
}

// HIERARCHY

#tree-footer {
  flex: 1;
  min-height: 1rem;
}

#tag-hierarchy {
  input[type='checkbox'] {
    width: 1rem;
    height: 1rem;
    border-width: 1.5px;
    display: none;
  }

  .tree-content-label:hover input[type='checkbox'] {
    display: block;
  }

  &.selected input[type='checkbox'] {
    display: block;
  }
}

// HEADER

#outliner-content:hover header [role='toolbar'] {
  opacity: 1;
}

#outliner-content header {
  height: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem 0 1rem;

  h2 {
    cursor: pointer;
    flex-grow: 1;
  }

  [role='toolbar'] {
    opacity: 0;
  }

  [role='toolbar']:focus-within {
    opacity: 1;
  }

  .btn {
    --btn-min-height: 1rem;
    --btn-min-width: 1rem;
    --btn-height: 1rem;
    --btn-width: 1rem;
    --btn-padding: 0;
    --btn-border-radius: 0.125rem;
    --btn-pressed-color: var(--accent-color-blue);
    --btn-checked-color: var(--accent-color-blue);
  }
}

// LIST

.tree-content-label {
  display: flex;
  align-items: center;
  height: 1.5rem;
  width: 100%;

  span {
    display: inline-flex;
  }

  &[data-dnd-target='true'] {
    color: var(--accent-color-blue);
    border: 2px solid var(--accent-color-blue);

    &.top {
      border: none;
      border-top: 2px solid var(--accent-color-blue);
    }

    &.bottom {
      border: none;
      border-bottom: 2px solid var(--accent-color-blue);
    }
  }

  &[data-dnd-source='true'] {
    opacity: 0.25;
  }

  .custom-icon {
    margin-right: 0.375rem;
    pointer-events: none;
  }

  > div {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  input {
    width: 100%;
  }
}

// ACTIONBAR

#actionbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  // extra css (from the section previously named #system-tags)
  flex-shrink: 0;

  .btn {
    --btn-min-height: 1.5rem;
    --btn-min-width: 1.5rem;
    --btn-height: 1.5rem;
    --btn-padding: 0.25rem;
    --btn-margin: 0.5rem 0.25rem;
    --btn-border-radius: 0.125rem;
    --btn-pressed-color: var(--accent-color-blue);
    --btn-checked-color: var(--accent-color-blue);
    --btn-active-color: var(--accent-color-blue);
    --btn-hot-color: var(--accent-color-blue);
  }

  span {
    margin: 0 0.125rem;
    font-size: 0.6875rem;
    font-weight: bold;
  }
}
