@import '~resources/style/remake/colours.scss';

#search-form {
  fieldset {
    margin-bottom: 0.25rem;
  }
  .criteria {
    display: flex;

    > * {
      flex-grow: 1;
    }

    > select:not(:nth-child(3)) {
      max-width: 25%;
    }

    > .btn {
      --btn-width: 1.75rem;
      --btn-height: 1.75rem;
      --btn-min-width: 1.5rem;
      --btn-min-height: 1.5rem;
      --btn-margin: 0 0 0 0.5rem;

      flex-grow: 0;
      line-height: 0;
      font-size: 1rem;
    }
  }
  select {
    background: var(--input-color);
    color: var(--text-color);
    border: 0.0625rem solid var(--border-color);
    outline: none;
    border-radius: 0.25rem;
    margin: 0.125rem 0.25rem;
    cursor: text;
    line-height: 1.5rem;

    &:hover {
      background: var(--input-color-hover);
    }

    &:focus-within {
      background: var(--input-color);
      box-shadow: 0 0 0 0.125rem $accent-color-blue;
    }
  }
}

#functions-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;

  > fieldset {
    margin: 0 !important;
    > div {
      display: flex;
      align-items: center;

      legend {
        color: var(--text-color);
        margin: 0;
        margin-right: 1.5rem;
      }
      label {
        margin: 0;
        margin-right: 1rem;
      }
    }
  }
}
